@font-face {
  font-family: 'GothamPro';
  src: url('~/assets/fonts/Gothampro-master/GothamPro/GothamPro.eot?') format('eot'),
  url('~/assets/fonts/Gothampro-master/GothamPro/GothamPro.woff') format('woff'),
  url('~/assets/fonts/Gothampro-master/GothamPro/GothamPro.ttf')  format('truetype');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('~/assets/fonts/Gothampro-master/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
  url('~/assets/fonts/Gothampro-master/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
  url('~/assets/fonts/Gothampro-master/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('~/assets/fonts/Gothampro-master/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
  url('~/assets/fonts/Gothampro-master/GothamPro-Light/GothamPro-Light.woff') format('woff'),
  url('~/assets/fonts/Gothampro-master/GothamPro-Light/GothamPro-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('~/assets/fonts/Gothampro-master/GothamPro-LightItalic/GothamPro-LightItalic.eot?') format('eot'),
  url('~/assets/fonts/Gothampro-master/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'),
  url('~/assets/fonts/Gothampro-master/GothamPro-LightItalic/GothamPro-LightItalic.ttf')  format('truetype');
}
