// smartphones (landscape view)
$screen-sm-max: 599px;

// tablets (portrait view)
$screen-md-min: 600px;
$screen-md-max: 959px;
// notebook
$screen-lg-min: 960px;
$screen-lg-max: 1279px;

$screen-xlg-min: 1280px;
$screen-xlg-max: 1919px;

@mixin phone {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin tablet {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin notebook {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}
