//.i-arrow {
//  width: 70px; height: 36px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -149px;
//}
//.i-checked {
//  width: 32px; height: 32px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -97px;
//}
//.i-envelope {
//  width: 43px; height: 25px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -52px;
//}
//.i-like {
//  width: 50px; height: 50px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -530px;
//}
//.i-medal {
//  width: 53px; height: 55px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -672px;
//}
//.i-partner1 {
//  width: 315px; height: 116px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -875px;
//}
//.i-partner2 {
//  width: 217px; height: 108px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -747px;
//}
//.i-partner3 {
//  width: 220px; height: 134px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -1011px;
//}
//.i-partner4 {
//  width: 325px; height: 375px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -1165px;
//}
//.i-partner5 {
//  width: 100px; height: 22px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -10px;
//}
//.i-phone {
//  width: 43px; height: 43px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -266px;
//}
//.i-pin {
//  width: 35px; height: 49px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -461px;
//}
//.i-shield {
//  width: 43px; height: 52px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -600px;
//}
//.i-time {
//  width: 48px; height: 48px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -393px;
//}
//.i-truck {
//  width: 54px; height: 44px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -329px;
//}
//.i-wallet {
//  width: 53px; height: 41px;
//  background: url('~/assets/img/icons/~/assets/img/icons/css_sprites.png') -10px -205px;
//}



.i-arrow {
  width: 70px; height: 36px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -634px;
}
.i-arrow_grey {
  width: 66px; height: 20px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -75px;
}
.i-checked {
  width: 32px; height: 32px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -582px;
}
.i-closed_door {
  width: 13px; height: 24px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -155px;
}
.i-color_palette {
  width: 20px; height: 20px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -115px;
}
.i-door {
  width: 32px; height: 31px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -479px;
}
.i-door2 {
  width: 17px; height: 32px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -530px;
}
.i-door_thumb {
  width: 27px; height: 59px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1232px;
}
.i-double_arrow {
  width: 28px; height: 17px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -38px;
}
.i-envelope {
  width: 43px; height: 25px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -244px;
}
.i-furniture {
  width: 21px; height: 30px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -429px;
}
.i-like {
  width: 50px; height: 50px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1015px;
}
.i-medal {
  width: 53px; height: 55px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1157px;
}
.i-multiply {
  width: 25px; height: 25px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -289px;
}
.i-partner1 {
  width: 250px; height: 80px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1711px;
}
.i-partner2 {
  width: 250px; height: 80px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1611px;
}
.i-partner3 {
  width: 250px; height: 80px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1511px;
}
.i-partner4 {
  width: 250px; height: 80px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1311px;
}
.i-partner5 {
  width: 250px; height: 80px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1411px;
}
.i-phone {
  width: 43px; height: 43px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -751px;
}
.i-pin {
  width: 35px; height: 49px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -946px;
}
.i-shield {
  width: 43px; height: 52px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1085px;
}
.i-small_arrow_grey {
  width: 16px; height: 8px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -10px;
}
.i-thermometer {
  width: 9px; height: 26px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -334px;
}
.i-time {
  width: 48px; height: 48px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -878px;
}
.i-truck {
  width: 54px; height: 44px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -814px;
}
.i-truck_grey {
  width: 36px; height: 25px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -199px;
}
.i-wallet {
  width: 53px; height: 41px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -690px;
}
.i-wallet_grey {
  width: 31px; height: 29px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -380px;
}
