.i-arrow {
  width: 70px; height: 36px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -149px;
}
.i-checked {
  width: 32px; height: 32px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -97px;
}
.i-envelope {
  width: 43px; height: 25px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -52px;
}
.i-like {
  width: 50px; height: 50px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -530px;
}
.i-medal {
  width: 53px; height: 55px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -672px;
}
.i-partner1 {
  width: 315px; height: 116px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -875px;
}
.i-partner2 {
  width: 217px; height: 108px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -747px;
}
.i-partner3 {
  width: 220px; height: 134px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1011px;
}
.i-partner4 {
  width: 325px; height: 375px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -1165px;
}
.i-partner5 {
  width: 100px; height: 22px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -10px;
}
.i-phone {
  width: 43px; height: 43px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -266px;
}
.i-pin {
  width: 35px; height: 49px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -461px;
}
.i-shield {
  width: 43px; height: 52px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -600px;
}
.i-time {
  width: 48px; height: 48px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -393px;
}
.i-truck {
  width: 54px; height: 44px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -329px;
}
.i-wallet {
  width: 53px; height: 41px;
  background: url('~/assets/img/icons/css_sprites.png') -10px -205px;
}
